::-webkit-scrollbar {
    display: none;
} 
body{
    width: 100%;
    height: 100%;
    background-image: url("Photo/IMG_2104.JPG");
    background-size: cover;
}
.BG{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.content{
    position: relative;
    margin: auto;
    /* border: solid 1px white; */
}
.LogoBtn{
    position: relative;
    width:50%;
    height: 50%;
}
.LogoBtn:hover{
    transform: scale(1.1);
}
.intorduce{
    position: relative;
    font-size:36px;
    color: white;
    /* border: solid 1px white; */
    text-align: center;
}

