::-webkit-scrollbar {
    display: none;
} 
body{
    width: 100%;
    height: 100%;
    background-size: cover;
}
BG{
    position: absolute;
    width: 100%;
    height: 100%;
}
.content{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    border: solid 5px black;
    display: flex;
}
.MapEatBtn{
    position: relative;
    border: solid 3px rgb(196, 52, 52);
}
.MapFunBtn{
    position: relative;
    background-size: contain;
    border: solid 1px black;
}