::-webkit-scrollbar {
    display: none;
} 
body{
    width: 100%;
    height: 100%;
    background-size: cover;
}
BG{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.content{
    position: relative;
    margin: auto;
    border: solid 5px black;
}
.MapEatBtn{
    position: absolute;
    right: 100px;
    top: 100px;
    border: solid 3px rgb(196, 52, 52);
}
.MapFunBtn{
    position: absolute;
    left: 100px;
    top: 100px;
    background-size: contain;
    border: solid 1px black;
}