::-webkit-scrollbar {
    display: none;
} 
body{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.BG{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.content{
    position: relative;
    margin: auto;
    border: solid 1px white; 
}
.MapEatBtn{
    position: absolute;
    left: 0%;
    top: 0%;
    background-size: contain;
}
.MapFunBtn{
    position: absolute;
    right: 0%;
    top: 0%;
    background-size: contain;
}